*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #e0e2e6;
}
.container{
    width: 1200px;
    margin: auto;
    /* height: 100vh; */
}
image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
header{
    padding: 4px 0;
    background-color: #FFFFFF;
}
.bg-light{
    background-color: white !important;
}
.d-flex{
    display: flex;
    align-items: ce;
}
/* --------------------- */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .nav-logo img{
    width: 30px;
}
nav .nav-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}
nav .nav-logo a{
    text-decoration: none;
    color: #7591B4;
    padding-inline: 15px;
    font-size: 24px;
    
}
/* --------------------left */
nav ul li{
    list-style-type: none;
    color: #7591B4;
}
nav .navbar-nav{
    display: flex;
}
nav .navbar-nav .nav-item .nav-link{
    text-decoration: none;
    padding: 14px 24px;
    color: #7591B4;
    text-transform: capitalize;
    display: inline-block;
}
nav .navbar-nav .nav-item .nav-link:hover{
    background-color: #EFF2F6;
    border-radius: 4px;
}
nav .navbar-nav .nav-item {
    position: relative;
    flex-direction: row;
    
}
nav .navbar-nav .nav-item .dropdown-menu{
    position: absolute;
    width: 210px;
    background-color: #FFFFFF;
    top: 160%;
    display: none;
    border-radius: 4px;
}
nav .navbar-nav .nav-item:hover .dropdown-menu{
    display: block;
}
nav .navbar-nav .nav-item .dropdown-menu .navbar-nav{ 
    flex-direction: column;
}
nav .navbar-nav .nav-item .dropdown-menu .navbar-nav .nav-item .nav-link{
    width: 100%;
    transition: 0.3s;
    padding-inline: 15px;
}
nav .navbar-nav .nav-item  .icon{
    padding-right: 8px;
}
nav .navbar-nav .nav-item .dropdown-menu .navbar-nav .nav-item:hover .nav-link{
    background-color: #EFF2F6;
}
.nav-box{
    width: 100%;
    height: 50px;
    position: absolute;
}
.dropdown-menu .navbar-nav .nav-item .drop-ecomerce .navbar-nav{
    position: absolute;
    right: -104px;
    top: 0;
    display: none;
}
.dropdown-menu .navbar-nav .nav-item:hover .drop-ecomerce .navbar-nav{
    display: block;
}
.dropdown-menu .navbar-nav .nav-item:hover .drop-ecomerce .navbar-nav .nav-item .nav-link{
    background-color: white;
}
.dropdown-menu .navbar-nav .nav-item:hover .drop-ecomerce .navbar-nav .nav-item:hover .nav-link{
    background-color: #EFF2F6;
}
.nav-box2{
    width: 20%;
    height: 50px;
    position: absolute;
    right: -20px;
    top: 0;
}
/* -----------------center */
nav .nav-icon a{
    text-decoration: none;
    display: inline-block;
    padding: 10px 10px;
    border-radius: 50%;
    
}
nav .nav-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav .nav-icon a i{
    font-size: 20px;
    color: #7591B4;
}
nav .nav-icon a img{
    border-radius: 50%;
    width: 50px;
    display: inline-block;
}
nav .nav-icon a .fa-sun{
    background-color: #FFF3E2;
    padding: 10px 10px;
    border-radius: 50%;
    color: #EC9742;
}
.fa-chevron-right{
    float: inline-end;
}
nav .nav-icon a:hover .fa-magnifying-glass{
    color: #EC9742;
}
nav .nav-icon a:hover .fa-bell{
    color: #EC9742;
}






